.weather-day{
    // display: flex;
    background-color: #eeeeee;
    padding: 10px;
    margin-top: 20px;
    .item{
        display: flex;
        justify-content:space-between;
        align-items:center;
        line-height: 60px;
        .date{
            font-weight: bolder;
        }
    }
    .icon{
        width: 100px;
        height: 100px;
    }
}